*.vsidx
prueba Tecnica/.vs/prueba Tecnica/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
prueba Tecnica/.vs/prueba Tecnica/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
prueba Tecnica/.vs/prueba Tecnica/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
prueba Tecnica/.vs/prueba Tecnica/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
prueba Tecnica/.vs/prueba Tecnica/FileContentIndex/bac2af41-8644-4010-a7c4-a11c825e7825.vsidx
prueba Tecnica/.vs/prueba Tecnica/FileContentIndex/bac2af41-8644-4010-a7c4-a11c825e7825.vsidx
prueba Tecnica/.vs/prueba Tecnica/FileContentIndex/bac2af41-8644-4010-a7c4-a11c825e7825.vsidx
